<div class="option-wrapper">
    <label for="{{ field.getSlug() }}" class="option-title">{{ field.getName() }}</label>
    <input class="form-control color-picker" id="{{ field.getSlug() }}" value="{{ field.getValue() }}" type="text" name="{{ type }}[{{ tab.getSlug() }}][{{ field.getSlug() }}]">
</div>