<div class="option-wrapper">
    <label for="{{ field.getSlug() }}" class="option-title">{{ field.getName() }}</label>
    <input class="form-control" id="{{ field.getSlug() }}" value="{{ field.getValue() }}" type="date" name="{{ tab.getSlug() }}[{{ field.getSlug() }}]">
</div>