<div class="option-wrapper">
    <label for="{{ field.getSlug() }}" class="option-title">{{ field.getName() }}</label>
    <input id="{{ field.getSlug() }}" value="{{ field.getValue() }}" type="text" name="{{ field.getSlug() }}">
</div>